:root {
  --primary-color: #0f2b5b;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
}

footer {
  margin-top: 20px;
  text-align: center;
  color: #666;
}

.container {
  display: flex;
}

.col-md-3 {
  width: 300px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  box-shadow: var(--box-shadow);
  background-color: var(--secondary-color);
}

.content {
  flex-grow: 1;
  padding-left: 320px;
  padding-top: 100px; /* Adjust the top padding as needed */
}

.project {
  margin-bottom: 40px; /* Adjust as needed */
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .col-md-3 {
    width: 100%;
    position: relative;
    height: auto;
    overflow-y: visible;
  }

  .content {
    padding-left: 20px; /* Adjust as needed */
  }
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 84px;
  margin-top: 40px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.hero {
  text-align: center;
  padding: 100px 20px; /* Adjust the top padding as needed */
  background-color: #fff;
  color: #000000;
}

.hero h1 {
  font-size: 2em;
  margin-bottom: 20px;
  margin-top: 20px; /* Add this line to lower the heading by 20 pixels */
}

.hero p {
  font-size: 1.2em;
}
